<!DOCTYPE html>
<html lang="en">

<head>
    <title>Review.md</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../imgs/icon.png">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.css" />
    <link href="../lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row re-title-sm">
            <div class="col-sm-5 col-sm-offset-1">
                <a style="color:aquamarine;" href="../"><i class="fa fa-arrow-left"></i>&nbsp;返回</a>
            </div>
        </div>
        <div class="row" id="title">
            <div class="col-md-10 col-md-offset-1 re-top re-h2">
                <div v-if="mode == 'mcode'" class="re-box">
                    <h2>题库ID:&nbsp;
                        <input v-model="tname" class="re-input" />&nbsp;
                        <button v-on:click="getquestions" class="button button-rounded" v-bind:disabled="buttondis"><i class="fa fa-download"></i>&nbsp;下载题库</button>
                    </h2>
                </div>
                <div v-else-if="mode == 'answer'" class="re-box">
                    <h2>
                        {{testname}}
                    </h2>
                </div>
                <div v-else-if="mode == 'debug'" class="re-box">
                    <h2>
                        没有找到对应的题库&nbsp;<button v-on:click="fixvariable" class="button button-rounded"><i class="fa fa-angle-double-down"></i>&nbsp;再查找一次</button>
                    </h2>
                </div>
                <div v-else class="re-box">
                    <h2>浏览器或许不被支持&nbsp;
                        <button v-on:click="fixvariable" class="button button-rounded"><i class="fa fa-angle-double-down"></i>&nbsp;输入代码</button>
                    </h2>
                </div>
                <div class="re-mainright">
                    <i class="fa fa-cube"></i>
                </div>
            </div>
        </div>
        <div class="row" id="main">
            <div class="col-md-10 col-md-offset-1 re-bot re-questions">
                <div v-if="tests.length>0">
                    <div v-for="(question,index) in tests">
                        <p>第{{convert(index)}}题: <strong class="re-qu">{{question.question}}</strong></p>
                        <p class="re-small" v-for="(choices,index) in question.answer">
                            {{downvert(index)}}.&nbsp;{{choices}}
                        </p>
                        <hr>
                    </div>
                    <button type="button" class="re-button re-lastbutton button button-block button-rounded" v-on:click="grade">计算得分</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
<script src="../lib/caper.js"></script>
<script src="../js/mcode.js"></script>
<script src="../js/test.js"></script>

</html>
