<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../imgs/icon.png">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.css" />
    <link href="../lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row re-title-sm">
            <div class="col-sm-5 col-sm-offset-1">
                <a style="color:aquamarine;" href="../"><i class="fa fa-arrow-left"></i>&nbsp;返回</a>
            </div>
        </div>
        <div class="row" id="title">
            <div class="col-sm-10 col-sm-offset-1 re-top re-h2">
                <div v-if="topofpage == 0" class="re-box">
                    <h2>题库ID:
                        <input v-model="tname" class="re-input" />
                        <button class="button button-rounded"><i class="fa fa-download"></i>&nbsp;下载题库</button></h2>
                </div>
                <div v-else-if="topofpage == 1" class="re-box col-sm-8">
                    {{testname}}
                </div>
                <div class="re-box col-sm-8" v-else>
                    出现了错误
                </div>
                <div class="re-mainright">
                    <i class="fa fa-cube"></i>
                </div>
            </div>
        </div>
        <div class="row" id="main">
            <div class="col-sm-10 col-sm-offset-1 re-bot">
                <div v-for="(i, index) in tests">
                    <strong v-if="index%10 == 0">Chapter {{index/10 + 1}}</strong>
                    <!--<strong v-if="index<= 9&&index%10 == 0"><br>这部分是以前的题，咱们没有做过这一章的TopHat</strong>-->
                    <p>{{i.question}}</p>
                    <input type="checkbox" v-model="i.sol[0]"></input>
                    <label>{{i.a}}</label>
                    <br>
                    <input type="checkbox" v-model="i.sol[1]"></input>
                    <label>{{i.b}}</label>
                    <br>
                    <input type="checkbox" v-bind:class="i.showc" v-model="i.sol[2]"></input>
                    <label v-bind:class="i.showc">{{i.c}}</label>
                    <br>
                    <input type="checkbox" v-bind:class="i.showd" v-model="i.sol[3]"></input>
                    <label v-bind:class="i.showd">{{i.d}}</label>
                    <br>
                    <input type="checkbox" v-bind:class="i.showe" v-model="i.sol[4]"></input>
                    <label v-bind:class="i.showe"> {{i.e}}</label>
                    <button v-on:click="gradethis(i)">GradeThis</button>
                    <strong style="color: red;">{{i.correctorwrong}}</strong>
                </div>
                <button v-on:click="grade">Grade my work</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
<script src="../lib/caper.js"></script>
<script src="../js/mcode.js"></script>

</html>