<!DOCTYPE html>
<html lang="en">

<head>
    <title>Review.md</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../imgs/icon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link rel="stylesheet/less" type="text/css" href="../css/newtech.less">-->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <input id="input" type='file' style="visibility: hidden" />
    <div class="container-fluid">
        <div class="row re-title-sm">
            <div class="col-md-10 col-md-offset-1">
                <a style="color:aquamarine;" href="../"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            </div>
        </div>
        <div class="row" id="title">
            <div class="col-md-10 col-md-offset-1 re-top bg-color-top re-h2">
                <div v-if="mode == 'mcode'" class="re-box">
                    <h2>{{display.file}}&nbsp; &nbsp;
                        <button v-on:click="getquestions" class="button button-rounded" v-bind:disabled="buttondis"><i class="fa fa-upload"></i>&nbsp;{{display.upload}}</button>
                    </h2>
                </div>
                <div v-else-if="mode == 'answer'" class="re-box">
                    <h2>
                        {{testname}}
                    </h2>
                    <p>{{display.moremode}}</p>
                    <!--<hr>-->
                </div>
                <div class="re-mainright">
                    <i class="fa fa-cube"></i>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 re-bot bg-color-bot re-questions">
                    <div v-if="tests.length==0">
                        <br>
                        <a href="./ob"><i class="fa fa-question-circle"></i>&nbsp;{{display.donthave}}</a><br>
                        <a href="../donate"><i class="fa fa-heart"></i>&nbsp;{{display.publish}}</a>
                    </div>
                    <div v-if="tests.length>0">
                        <div>{{lengths}}</div>
                        <div v-for="(question,index) in tests">
                            <p>{{convert(index)}}({{question.questionnum}}): <strong v-bind:class="question.coloreffect">{{question.question}}</strong></p>
                            <div v-bind:id="idify(index)"></div>
                            <p class="re-small" v-for="(choices,cindex) in question.answer">
                                <input type="radio" v-on:click="clicked" class="re-radio" v-bind:value="cindex" v-model="question.picked">&nbsp;
                                <span v-bind:class="choices[1]" v-on:click="clicktext(index,cindex)">
                                <label class="re-label">{{downvert(cindex)}}</label>&nbsp;{{choices[0]}}</span></p>
                            <strong>{{question.picked}}</strong>
                            <hr>
                        </div><button type="button" class="re-button button button-block button-rounded" v-on:click="grade">{{display.calculate}}</button>
                        <re-credit></re-credit>
                    </div>
                    <re-wave></re-wave>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.3.0/vue-router.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>-->
<script src="../lib/caper.js"></script>
<script src="../js/test.js"></script>
<!--<script src="../js/component.js"></script>-->
<script src="../js/upload.js"></script>
<script src="../FileReader/readfile.js"></script>
<!--<script src="../js/router.js"></script>-->


</html>